*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background: blueviolet;
    padding: 20px;
    color: white;
}

.container{
    margin: 20px auto;
    padding: 10px;
}

.card{
    width: 100%;
    max-width: 500px;
    background: white;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 0px 7px #eee;
    border-top: 2px solid blueviolet;
}
input{
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}
.InputCont button {
    width: 100%;
    padding:10px;
    border: none;
    background: white;
    border: 1px solid blueviolet;
    border-radius: 10px;
    cursor: pointer;
    color: blueviolet;
    transition: .3s;
}

.InputCont button:hover{
    background: blueviolet;
    color: white;
    transition: .3s;
}

.userlist {
    margin-top: 20px;
}
.userlist h1{
    text-align: center;
}

.userlist ul{
    max-width: 500px;
    margin: 20px auto;
    list-style: none;
}
.userlist li{
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.names{
    font-weight: bold;
    font-size: 20px;
}
.ageitem{
    background:  #fff;
    color: blueviolet;
    padding: 10px;
    border-radius: 15px;
    font-weight: 100;
}

#nouser{
    font-weight: 100;

}
.error{
    color: red;
    margin-top: 10px;
    text-align: left;
    list-style: none;
}

.me{
    color: #eee;
    margin-top: auto;
    border-radius: 0%;
    font-family: 'Courier New', Courier, monospace;
}